@-webkit-keyframes fadeindown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@keyframes fadeindown2 {
  0% {
    opacity: 0;
    transform: translate(0, -40px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.fadeindown2 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeindown2;
          animation-name: fadeindown2;
}


@keyframes fadein2 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein2 { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein2 { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein2 { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fadein2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: fadein2;
          animation-name: fadein2;
}



@keyframes line-animate {
      from {
          width:0px;
      }
      to {
          width:100px;
      }
  }
  @-moz-keyframes line-animate { /* Firefox */
      from {
          width:0px;
      }
      to {
          width:100px;
      }
  }
  @-webkit-keyframes line-animate { /* Safari and Chrome */
      from {
          width:0px;
      }
      to {
          width:100px;
      }
  }
  @-o-keyframes line-animate { /* Opera */
      from {
          width:0px;
      }
      to {
          width:100px;
      }
  }


  .line-animate {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-name: line-animate;
    animation-name: line-animate;
  }