.banner {
	background-color: white;
	height: 6rem;
	padding-top: 90px;
}

.banner .title {letter-spacing: -5px;}

#orange {color:#ff8e4a;}
#turquoise {color:#80bec0;}
#yellow {color:#feb962;}
#red {color:#f47c5b;}


.gallery {
	background-color: rgb(237, 237, 237);
	padding:1rem 0;
}

.gallery ul {font-size:0;}

.gallery li {
	font-size:1rem;
	background-color: white;
	width:88%;
	max-width:500px;
	height:auto;
	display:block;
	margin:0 auto;
	margin-bottom:1rem;
	border-radius:5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	transition: background-color .4s;
}

.gallery p {
	color:gray;
	text-align:left;
	padding:15px;
	transition: color .4s;
}

.category {text-transform: uppercase;}

.gallery li img {
	width:100%;
	opacity:1;
	transition: opacity .4s;
}

.gallery li:hover {
	background-color: rgb(255, 188, 112);

}

.gallery li:active {background-color: rgb(255, 140, 81);}

.gallery li:hover p{
	color:white;
}





/* portfolio-template */
.banner .project {color:gray;letter-spacing:0px;}

.portfolio {
	background-color: rgb(250, 250, 250);
	padding: 47px 0 67px;
}

.portfolio img {
	width:88%;
	max-width:700px;
	display:block;
	margin:0 auto;
	margin-bottom:27px;
}
















@media only screen and (min-width: 780px) {
	.banner {padding-top:120px;}

	.gallery ul {width:96%;max-width:1200px;margin:0 auto;}

	.gallery li {
		display:inline-block;
		width:45%;
		margin:2.5%;
	}
}

@media only screen and (min-width: 1000px) {
	.gallery li {
		display:inline-block;
		width:30%;
		margin:1.6666666667%;
	}
}