.banner {
	background-color: white;
	height: 6rem;
	padding-top: 110px;
}

.banner .title {letter-spacing: -5px;}

#orange {color:#ff8e4a;}
#turquoise {color:#80bec0;}
#yellow {color:#feb962;}
#red {color:#f47c5b;}


.gallery {
	background-color: rgb(237, 237, 237);
	padding:1rem 0;
}

.gallery li {
	background-color: white;
	width:88%;
	max-width:500px;
	height:auto;
	display:block;
	margin:0 auto;
	margin-bottom:1rem;
	border-radius:5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	transition: background-color .4s;
}

.gallery p {
	color:gray;
	text-align:left;
	padding:15px;
	transition: color .4s;
}

.category {text-transform: uppercase;}

.gallery li img {
	width:100%;
	opacity:1;
	transition: opacity .4s;
}

.gallery li:hover {
	background-color: rgb(186, 186, 186);

}

.gallery li:hover p{
	color:white;
}

.gallery li:hover img{
	opacity:0.7;
}





/* portfolio-template */
.banner .project {color:gray;letter-spacing:0px;}

.portfolio {
	background-color: white;
	padding-bottom: 10px;
}

.portfolio img {
	width:88%;
	max-width:700px;
	display:block;
	margin:0 auto;
	margin-bottom:20px;
}
















@media only screen and (min-width: 780px) {


}

@media only screen and (min-width: 1000px) {

}