html, body {margin:0;padding:0;height:100%;}

body {
	background-color: black;
	
	font-family: 'futura_ltregular', Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;

	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {text-decoration: none;}

.container {
	background-color: #000;
	height:100%;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




/* GENERAL STYLING */

.content {height:100%;}
.responsive {height:100%;}

p {color:white; text-align:center;}


.title {
	font-size: 2.5rem;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-bottom: .75rem;
}

.line {
	height:2px;
	width:100px;
	background-color: white;
	display:block;
	margin:0 auto;
}
	

/* MOBILE NAV */


header {
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
}

.burger {
	display: block;
	height: 22px;
	position: absolute;
	float: left;
	padding: 4px 8px 13px;
	top: 10px;
	left: 9px;
}

.burger:hover {
	cursor:pointer;
}

.burger:active {
	background-color: rgba(240, 165, 67, 1);
	border-radius: 6px;
}

.burger:active li {
	background-color: rgb(255, 229, 204);
}

.burger li {
	width: 25px;
	height: 4px;
	background-color: white;
	margin: 5px 0;
}

.selected {
	background-color: rgba(249, 172, 73, 1);
	border-radius: 6px;
}

.selected li {background-color: rgb(255, 241, 223);}



/* DESKTOP NAV */
nav {
	float: right;
	margin: 23px 0px 2px 0;
	z-index:1;
	display:none;
}
nav li {
	float: left;
	margin: 20px 10px 0px 10px;
	display: inline-block;
}
nav li a {
	font-family:'futura_ltregular', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	color: white;
	display: block;
}

.home-icon {
	height: 37px;
	padding: 12px 19px 0 0;
	position: absolute;
	top: 0px;
	right:0px;
}

#desktop-home-icon {display:none;}

.logo {display:none;font-size:0;}

/* ROLLOVER NAV */
#fixed {box-shadow: none;}

.rollover {
	position: fixed;
	z-index: 100;
	height: 60px;
	transition: .4s;
}

.top-active {
	background-color: rgba(255, 187, 99, 1);
	border-bottom: 4px solid white;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.21);
}

.active {
	background-color: rgba(255, 187, 99, 1);
	border-bottom: 4px solid white;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.21);
}

.rollover p {
	font-size: 23px; 
	margin-top: 20px;
	display:block;
}

.hidden {opacity:0;}

.rollover-nav {
	position: fixed;
	top: -100%;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: white;
	transition: .4s;
}

#mobile-nav {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0px;
}

.open {
	top:0%;
	padding-top: 73px;
}

.rollover-nav li {
	border: 2px solid rgb(229, 229, 229);
	border-radius: 10px;
	width: 83%;
	margin: 19px auto;
	text-align:center;
	font-size:1.8rem;
	margin-bottom:1rem;
	text-transform: uppercase;
	transition: .3s;
}

.rollover-nav li:hover, .rollover-nav li:active{
	background-color: rgb(255, 196, 120);
	border-color: rgb(255, 196, 120);
	cursor:pointer;
}

.rollover-nav li a {
	color: rgb(189, 189, 189);
	font-weight: 600;
	letter-spacing: 4px;
	width: 90%;
	display: block;
	padding: 5%;
	transition: .3s;
}

.rollover-nav li:hover a, .rollover-nav li:active a {color:white;}

.rollover-links li {display:none;}

.nav-container {
	width: 90%;
	display: block;
	margin: 0 auto;
}

/* INTRO */

.intro {
	background-color: #ffbb63;
	padding: .625rem 0 2.75rem 0;
}

.intro .intro-icon-big {display: none;}

.intro h1 {
	line-height: 3.3rem;
	letter-spacing: 0.5px;
	color: white;
	font-size: 2.875em;
	text-align: center;
	padding-top: 4.1rem;
	padding-bottom: 1.9rem;
}

.intro h1 span:nth-of-type(1){
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;

	-webkit-animation-name: fadeindown;
	-moz-animation-name: fadeindown;
	animation-name: fadeindown;
}

.intro h1 span:nth-of-type(2) {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	animation-delay: .2s;

	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;

	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;

	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	animation-name: fadein;
}

.intro h1 span:nth-of-type(3) {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	animation-delay: .4s;

	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;

	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;

	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	animation-name: fadein;
}


#highlight {color: #F47951;}


.icon-circle {
	height:180px;
	width:180px;
	display:block;
	margin:0 auto;
	background-color:#7ac2c5;
	border-radius:100%;
	border:6px solid white;

	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;

	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	animation-delay: .6s;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	animation-name: fadein;

	transition: all .5;

}



.shadow {
	height:10px;
	border-radius:100%;
	background-color: rgba(0, 0, 0, 0.12);
	display:block;
	margin:0 auto;
	margin-top:5px;

	-webkit-animation:shadow 1s infinite;
	-moz-animation:shadow 1s infinite;
}


.ghost {
	height:120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px; 
  	position:relative;
  	-webkit-animation:bounce 1s infinite;
  	-moz-animation:bounce 1s infinite;
}

#intro-web {
	display:none;
}

.intro h2 {
	font-size:1.125em;
	line-height: 1.375rem;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2rem;

    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;

	-webkit-animation-name: fadeinup;
	-moz-animation-name: fadeinup;
	animation-name: fadeinup;
}



/* GENERAL SECTION STYLING */

.section {
	padding: 2.5rem 0;
}


/* SERVICES */

.services {
	height:auto;
	background-color: #52b3c2;
}

.info-container {transition:all .5s;}

.services-icon {
	height:190px;
	display:block;
	margin:0 auto;
	padding: 2rem 0;
}

.services .icon-circle {margin: 2rem auto 2rem; transition: all .5s;}

#illustration {background-color: #f08f6a;}

#development {background-color: #eca671;}

#development .ghost {height:124px;margin-top:27px;}

#illustration .ghost {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#illustration .shadow {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#design .ghost {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#design .shadow {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#development .ghost {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

#development .shadow {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.description {transition: all 1s;}

.section-title {
	font-size: 20px;
	letter-spacing: 2px;
	padding-bottom: 26px;
	font-family: 'futura_ltheavy';
	-webkit-transition: all 0.5s;
}


.section-content {
	font-size:16px;
	letter-spacing: 1px;
	line-height: 18px;
	width: 86%;
	max-width: 700px;
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
	-webkit-transition: all 0.5s;
}

.skills {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 80%;
	max-width: 800px;
	display: block;
	margin: 39px auto 7px;
	padding: 24px 0px;
}

#skills-title {
	display: table;
	border-bottom: 2px solid white;
	margin: 0 auto 1.375rem;
	padding-bottom: .5rem;
}

#skills-content {width:100%;}

/* ABOUT */

.about {
	background-color: #ffbb63;
}

.about .section-title {
	width:80%;
	margin:0 auto;
}

.button {
	font-family: 'futura_ltregular';
	font-size: 22px;
	color: rgb(255, 255, 255);
	display: block;
	margin: 0 auto;
	border: 2px solid white;
	background: none;
	width: 238px;
	border-radius: 10px;
	margin-top: 22px;
	text-align: center;
	padding: 10px 0 15px;
	transition-duration: .3s;
    -webkit-ransition-duration: .3s;
}

#linkedin {padding:13px 0 12px;}

.button:hover, .button:active {color:rgb(255, 168, 56);background-color:white;}

/* CONTACT */

.contact {
	background-color: #f57467;
}

.contact .info {margin:20px auto;}

.contact-wrapper {
	width:90%;
	max-width: 650px;
	display: block;
	margin: 0 auto;
	padding-bottom: 1.25rem;
}

label {
	color:white;
	display:block;
	margin-top:20px;
	font-size: 1.25rem;
	letter-spacing: 1px;
}

input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 19px;
	border: none;
	border-radius: 5px;
	padding: .625rem 0 .75rem;
	margin-top: .875rem;
	font-size: .875rem;
	color: #3a3a3a;
	background-color:#ffbb63;
}

input:focus, textarea:focus {
	background-color: white;
	outline:0;
}

#submit {
	font-family:'futura_ltheavy';
	font-size:1rem;
	color:white;
	height:49px;
	width: 100%;
	display: block;
	margin: 0 auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color: transparent;
    border: 2px solid white;
    padding-bottom: 2rem;
    margin-top: 1.625rem;
    transition-duration: .3s;
    -webkit-ransition-duration: .3s;
}

#submit:hover, #submit:active {
	background-color: white;
	cursor:pointer;
	color:#f57467;
}

#submit:active {
	opacity:0.8;
}



/* FOOTER */
.footer {
	border-top: 1px solid white;
	width: 90%;
	display: block;
	margin: 3.25rem auto 0px;
	padding-top: .625rem;
	
}

.footer p{
	text-align: right;
}

.php-test {color:blue;}

@media only screen and (min-width:400px) {
	.icon-circle {height:180px; width:180px;}
}


@media only screen and (min-width: 600px) {
	#intro-mobile {display:none;}


	.intro .icon-circle {
		margin-right: 2.5rem;
		display: inline-block;
		vertical-align: middle;
	}

	#intro-web {
		padding: 8.5rem 0 5rem 1rem;
		display:block;
		margin:0 auto;
		width:34.5rem;
	}

	#intro-web-message {
		display: inline-block;
		vertical-align: middle;
	}

	#intro-web-message .line {
		margin-left:0px;
	}

	#intro-web-message h1 {
		line-height: 4.25rem;
		font-size: 3.375em;
		text-align:left;
		padding-top:0px;
	}

	#intro-web-message h2 {
		text-align:left;
		line-height:1.9rem;
	}


	.info-container {
		width: 50%;
		max-width: 428px;
		margin:0 auto;
		height: 210px;
	}


	.services .icon-circle {
		-webkit-transform: translate3d(-81%,20px,0);
		-moz-transform: translate3d(-81%,20px,0);

	}

	.description {
		-webkit-transform: translate3d(49%,-194px,0);
		-moz-transform: translate3d(49%,-194px,0);
	}


	.description p {
		text-align:left;
		margin:0;
	}

}



@media only screen and (min-width: 780px) {

	.rollover-nav {display:none;}

	li a:hover {
		-webkit-transform: translate(0, -5px);
		-moz-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}

	.rollover {display:none;}

	#fixed {display:none;}

	.rollover .home-icon {display:none;}

	.desktop-rollover {
		position:fixed;
		width: 100%;
		height:83px;
		z-index: 100;
		transition:.4s;
		top:6px;
	}

	.up {
		top:-18px;
	}

	#desktop-home-icon {
		float: left;
		margin: 21px 0 0 0px;
		right:auto;
		display:block;
		position: relative;
	}

	.logo {
		display:none;
		position: fixed;
		margin: 37px 0 0 45px;
		font-size: 26px;
	}

	nav {display:block;}

	nav li {
		margin-left: 30px;
		-webkit-animation-name: fadeindown;
		-moz-animation-name: fadeindown;
		animation-name: fadeindown;

		-webkit-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}

	nav li:nth-of-type(1) {
		-webkit-animation-duration: 0.55s;
		-moz-animation-duration: 0.55s;
		animation-duration: 0.55s;

		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	nav li:nth-of-type(2) {
		-webkit-animation-duration: 0.65s;
		-moz-animation-duration: 0.65s;
		animation-duration: 0.65s;

		-webkit-animation-delay: .05s;
		-moz-animation-delay: .05s;
		animation-delay: .05s;

		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	nav li:nth-of-type(3) {
		-webkit-animation-duration: 0.75s;
		-moz-animation-duration: 0.75s;
		animation-duration: 0.75s;

		-webkit-animation-delay: .1s;
		-moz-animation-delay: .1s;
		animation-delay: .1s;

		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;		
		animation-fill-mode: both;
	}

	nav li:hover {
		box-shadow: inset 0 -3px white;
	}

	nav li a {
		letter-spacing: 1.5px;
		font-size:1.15rem; 
		height: 33px;
		
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;

	}
	
}


@media only screen and (min-width: 1000px) {
	
	#intro-web {width:38.4rem;}
	.intro .icon-circle {margin-right: 3.4rem;}

	#intro-web-message {font-size:21px;}
	#intro-web-message h1 {line-height: 5rem;}

}


@media only screen and (min-width: 1150px) {

	html {font-size:18px;}

	.desktop-rollover {height:85px;}

	#desktop-home-icon {height:38px;}

	.logo {font-size: 28px;margin: 38px 0 0 45px;}

	nav {margin:22px 0px 7px 0;}

	#intro-web .icon-circle {
		height:200px;
		width:200px;
	}

	#intro-web .ghost {height:130px; margin-top:35px;}

	.intro h2 {line-height:1.8rem;}
}


@media only screen and (min-width: 1500px) {
	html {font-size:20px;}
	#intro-web-message {font-size:24px;}
	#intro-web-message h1 {line-height:4.8rem;}
	.intro h2 {line-height:2rem;}

	#intro-web .icon-circle {
		height:230px;
		width:230px;
		margin-right:4rem;
	}

	#intro-web {width:37.5rem;}

	#intro-web .ghost {height:150px; margin-top:40px;}
}





/* ANIMATIONS */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@-moz-keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translate(0, -60px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@-moz-keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -ms-transform: translate(0);
  }
}


@-webkit-keyframes shadow {
  0%       {width:73px; }
  60%      {width:55px; }
  100%     {width:73px;}
}

@-moz-keyframes shadow {
  0%       {width:73px; }
  60%      {width:55px; }
  100%     {width:73px;}
}


@-webkit-keyframes bounce {
  0%       {bottom:0px; }
  60%      {bottom:10px; }
  100%     {bottom:0px;}
}

@-moz-keyframes bounce {
  0%       {bottom:0px; }
  60%      {bottom:10px; }
  100%     {bottom:0px;}
}
