html, body {margin:0;padding:0;height:100%;}

body {
	background-color: black;
	
	font-family: 'futura_ltregular', Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {text-decoration: none;}

.container {
	background-color: #000;
	height:100%;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




/* GENERAL STYLING */

.content {height:100%;}
.responsive {height:100%;}

p {color:white; text-align:center;}


.title {
	font-size: 40px;
	color: white;
	text-align: center;
	border-bottom: 2px solid;
	display: table;
	margin: 0 auto;
	padding-bottom: 12px;
}



/* MOBILE NAV */

header {
	height: 0px;
	position: relative;
	background-color: #f3f5f6;
}

.burger {
	position: absolute;
	float: left;
	padding: 4px 8px 13px 8px;
	top: 10px;
	left: 10px;
	display: none;
}
.burger li {
	width: 25px;
	height: 4px;
	background-color: white;
	margin: 5px 0;
}

.burger.open li {background-color: #d9dde1;}

nav {
	position: relative;
	margin: 0 auto;
}
nav li {
	float: left;
	margin: 20px 10px 0px 10px;
	display: inline-block;
}
nav li a {
	font-family:'futura_ltregular', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	display: block;
}

.home-icon {
	float: right;
	padding-top: 13px;
	padding-right: 19px;
}


/* WEB NAV */



#nav-background {
	height:79px;
	width:100%;
	background-color: black;
	border-bottom: solid 4px #985a28;
	box-shadow: 0px -4px 42px #000;
	position:fixed;
	display:none;
}



/* INTRO */


.intro {
  background-size: 1721px 900px;
  background-repeat: no-repeat;
  background-color: #ffbb63;
  height: auto;
  padding: 10px 0px 44px 0px;
}

.intro .intro-icon-big {display: none;}

.intro h1 {
	line-height:46px;
	letter-spacing: 1px;
    color: white;
    font-size: 38px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 16px;
}

.intro span {color: #f58560;}

.intro .line {
    height: 2px;
    width: 130px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.intro img {
	height:160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
}

.intro h2 {
	font-size:18px;
	line-height: 22px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 23px;
}

.read-more {
	height:100px;
	padding-top:22px;
	text-align: center;
}

.read-more .arrow {
	height: 30px;
	vertical-align: middle; 
	padding-right:16px;
}

.read-more a {
	font-size: 20px;
	color: #52b3c2; 
	vertical-align:middle;
}



/* GENERAL SECTION STYLING */

.section {
	padding: 40px 0px;
}


/* SERVICES */

.services {
	height:auto;
	background-color: #52b3c2;
}

.services-icon {
	height:191px;
	display:block;
	margin:0 auto;
	padding: 33px 0px;
}

.section-title {
	font-size: 20px;
	letter-spacing: 2px;
	padding-bottom: 26px;
	font-family: 'futura_ltheavy';
}


.section-content {
	letter-spacing: 1px;
	line-height: 19px;
	width: 86%;
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
}

/* ABOUT */

.about {
	background-color: #ffbb63;
}

/* CONTACT */

.contact {
	background-color: #f57467;
}

.contact-wrapper {
	width:90%;
	max-width: 650px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

label {
	color:white;
	font-size:15px;
	display:block;
	margin-top:20px;
	font-size: 20px;
	letter-spacing: 1px;
}

input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 19px;
	border: none;
	border-radius: 5px;
	padding: 10px 0;
	padding-bottom: 13px;
	margin-top: 14px;
	font-size: 14px;
	color: #3a3a3a;
	background-color:#ffbb63;
}

input:focus, textarea:focus {
	background-color: white;
	outline:0;
}

#submit {
	font-family:'futura_ltheavy';
	font-size:16px;
	color:white;
	height:49px;
	width: 100%;
	display: block;
	margin: 0 auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color: transparent;
    border: 2px solid white;
    padding-bottom:10px;
    margin-top: 27px;
}

#submit:hover {
	background-color: white;
	cursor:pointer;
	color:#f57467;
}

#submit:active {
	opacity:0.8;
}




@media only screen and (min-width: 500px) {


}



@media only screen and (min-width: 780px) {


	nav li a {
		font-size:16px; 
		margin:7px 7px;
		padding-bottom:9px;
		border-bottom: 3px solid transparent;

  		-o-transition: border-color .5s ease-in-out;
		-ms-transition: border-color .5s ease-in-out;
		-moz-transition: border-color .5s ease-in-out;
		-webkit-transition: border-color .5s ease-in-out;
		transition: border-color .5s ease-in-out;
	}

	a:hover {border-bottom-color: white;}
	a.current {border-bottom-color: white;}

	
}




@media only screen and (min-width: 1200px) {
	
}






@media only screen and (max-width: 780px) {

/* NAVIGATION */


header {
	height: 60px;
	z-index: 2;
	/*background:none; */
	background-color: rgba(255, 139, 68, 1);
	border-bottom: solid 4px white; 
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
header h1 {
	color: #ffffff;
	text-align: center;
	padding-left: 0;
	display: block;
}
.burger {
	display: block;
	height: 22px;
}


/*  Nav Drawer Layout  */
nav {position: relative;}

nav ul {
	height: 100%;
	overflow-y: auto;
}
nav li {
	display: block;
	float: none;
}
nav li a {
	font-family:'futura_ltregular';
	padding: 22px 25px;
	letter-spacing: 3px;
	font-size: 14px;
}
nav li a.logo {
	display: none;
}
nav li a.active {
	color: #fff;
	background-color: #141e23;
}
nav li a:hover {
	color: #fff;
	background-color: #19252c;
}
nav li:first-child a.active,
nav li:first-child a:hover 
{border-radius: 10px 0 0 0;}

.header-section {margin-top: 60px;}

/* NAVIGATION ANNIMATION */
nav {
	width: 93%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #171717;
	border-radius: 8px;
	
	/* starting point */
	opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
nav.open {
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
nav.close {
	opacity: .3;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANNIMATION */
.content {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

/*Content Sliding Open Effect*/
header.open,
.content.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
header.close,
.content.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

}