html, body {margin:0;padding:0;height:100%;}

body {
	background-color: black;
	
	font-family: 'futura_ltregular', Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;

	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {text-decoration: none;}

.container {
	background-color: #000;
	height:100%;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




/* GENERAL STYLING */

.content {height:100%;}
.responsive {height:100%;}

p {color:white; text-align:center;}


.title {
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 12px;
}

.line-animate {
	height:2px;
	width:100px;
	background-color: white;
	display:block;
	margin:0 auto;

	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;

	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-name: line-animate;
	animation-name: line-animate;

}
	


/* MOBILE NAV */

header {
	height: 0px;
	position: relative;
	background-color: #f3f5f6;
}

.burger {
	position: absolute;
	float: left;
	padding: 4px 8px 13px 8px;
	top: 10px;
	left: 10px;
	display: none;
}
.burger li {
	width: 25px;
	height: 4px;
	background-color: white;
	margin: 5px 0;
}

.burger.open li {background-color: #d9dde1;}

nav {
	position: fixed;
	margin: 0 auto;
	z-index:1;
}
nav li {
	float: left;
	margin: 20px 10px 0px 10px;
	display: inline-block;
}
nav li a {
	font-family:'futura_ltregular', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	display: block;
}

.home-icon {
	height:37px;
	float: right;
	padding-top: 12px;
	padding-right: 19px;
}


/* WEB NAV */



#nav-background {
	height: 60px;
	width: 100%;
	background-color: rgba(255, 139, 68, 1);
	border-bottom: solid 4px white;
	box-shadow: 0px -4px 42px rgba(0, 0, 0, 0.21);
	position: fixed;
	display:none;
}



/* INTRO */

.intro {
  background-color: #ffbb63;
  padding: 10px 0px 44px 0px;
}

.intro .intro-icon-big {display: none;}

.intro h1 {
	line-height: 53px;
	letter-spacing: 0.5px;
	color: white;
	font-size: 46px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 30px;
}

.intro h1 span:nth-of-type(1){
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: fadeindown;
	animation-name: fadeindown;
}

.intro h1 span:nth-of-type(2) {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: fadein;
	animation-name: fadein;
}

.intro h1 span:nth-of-type(3) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: fadein;
	animation-name: fadein;
}


#highlight {color: #F47951;}


.icon-circle {
	height:180px;
	width:180px;
	display:block;
	margin:0 auto;
	background-color:#7ac2c5;
	border-radius:100%;
	border:6px solid white;

	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;

	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: fadein;
	animation-name: fadein;

}





.intro img {
	height:120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
}

#intro-web {
	display:none;
}

.shadow {
	height:10px;
	border-radius:100%;
	background-color: rgba(0, 0, 0, 0.12);
	display:block;
	margin:0 auto;
	margin-top:5px;

	-webkit-animation:shadow 1s infinite;
}


.bounce {
  position:relative;
  -webkit-animation:bounce 1s infinite;
}


.intro h2 {
	font-size:18px;
	line-height: 22px;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 32px;

    -webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-name: fadeinup;
	animation-name: fadeinup;
}

.read-more {
	height:100px;
	padding-top:22px;
	text-align: center;
}

.read-more .arrow {
	height: 30px;
	vertical-align: middle; 
	padding-right:16px;
}

.read-more a {
	font-size: 20px;
	color: #52b3c2; 
	vertical-align:middle;
}



/* GENERAL SECTION STYLING */

.section {
	padding: 40px 0px;
}


/* SERVICES */

.services {
	height:auto;
	background-color: #52b3c2;
}

.services-icon {
	height:190px;
	display:block;
	margin:0 auto;
	padding: 33px 0px;
}

.section-title {
	font-size: 20px;
	letter-spacing: 2px;
	padding-bottom: 26px;
	font-family: 'futura_ltheavy';
}


.section-content {
	letter-spacing: 1px;
	line-height: 19px;
	width: 86%;
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;
}

.skills {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 80%;
	display: block;
	margin: 39px auto 7px;
	padding: 24px 0px;
}

#skills-title {
	display: table;
	border-bottom: 2px solid white;
	margin: 0 auto 23px;
	padding-bottom: 8px;
}

#skills-content {width:100%;}

/* ABOUT */

.about {
	background-color: #ffbb63;
}

/* CONTACT */

.contact {
	background-color: #f57467;
}

.contact-wrapper {
	width:90%;
	max-width: 650px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

label {
	color:white;
	font-size:15px;
	display:block;
	margin-top:20px;
	font-size: 20px;
	letter-spacing: 1px;
}

input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 19px;
	border: none;
	border-radius: 5px;
	padding: 10px 0;
	padding-bottom: 13px;
	margin-top: 14px;
	font-size: 14px;
	color: #3a3a3a;
	background-color:#ffbb63;
}

input:focus, textarea:focus {
	background-color: white;
	outline:0;
}

#submit {
	font-family:'futura_ltheavy';
	font-size:16px;
	color:white;
	height:49px;
	width: 100%;
	display: block;
	margin: 0 auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color: transparent;
    border: 2px solid white;
    padding-bottom:10px;
    margin-top: 27px;
}

#submit:hover {
	background-color: white;
	cursor:pointer;
	color:#f57467;
}

#submit:active {
	opacity:0.8;
}



/* FOOTER */
.footer {
	border-top: 1px solid white;
	width: 90%;
	display: block;
	margin: 53px auto 0px;
	padding-top: 10px;
	
}

.footer p{
	text-align: right;
}


@media only screen and (min-width: 600px) {
	#intro-mobile {display:none;}


	.icon-circle {
		margin-right: 41px;
		display: inline-block;
		vertical-align: middle;
	}

	#intro-web {
		padding: 78px 0 30px 51px;
		display:block;
		margin:0 auto;
		width:550px;
	}

	#intro-web-message {
		display: inline-block;
		vertical-align: middle;
	}

	#intro-web-message .line-animate {
		margin-left:0px;
	}

	#intro-web-message h1 {
		text-align:left;
		padding-top:0px;
	}

	#intro-web-message h2 {
		text-align:left;
	}

	li a:hover {
		-webkit-transform: translate(0, -3px);
		transform: translate(0, -3px);

	}
}



@media only screen and (min-width: 780px) {

	nav li {
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-webkit-animation-name: fadeindown;
		animation-name: fadeindown;
	}

	nav li:hover {
		box-shadow: inset 0 -3px white;
	}

	nav li a {
		font-size:16px; 
		margin:7px 7px;
		padding-bottom:9px;
		
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;

	}



	
}




@media only screen and (min-width: 1200px) {
	
}






@media only screen and (max-width: 780px) {

/* NAVIGATION */


header {
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
header h1 {
	color: #ffffff;
	text-align: center;
	padding-left: 0;
	display: block;
}
.burger {
	display: block;
	height: 22px;
}


/*  Nav Drawer Layout  */
nav {position: relative;}

nav ul {
	height: 100%;
	overflow-y: auto;
}
nav li {
	display: block;
	float: none;
}
nav li a {
	font-family:'futura_ltregular';
	padding: 22px 25px;
	letter-spacing: 3px;
	font-size: 14px;
}
nav li a.logo {
	display: none;
}
nav li a.active {
	color: #fff;
	background-color: #141e23;
}
nav li a:hover {
	color: #fff;
	background-color: #19252c;
}
nav li:first-child a.active,
nav li:first-child a:hover 
{border-radius: 10px 0 0 0;}

.header-section {margin-top: 60px;}

/* NAVIGATION ANNIMATION */
nav {
	width: 93%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #171717;
	border-radius: 8px;
	z-index:0;
	
	/* starting point */
	opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
nav.open {
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
nav.close {
	opacity: .3;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANNIMATION */
.content {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

/*Content Sliding Open Effect*/
header.open,
.content.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
header.close,
.content.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

}



/* More animations */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translate(0, -60px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -ms-transform: translate(0);
  }
}


@keyframes line-animate {
	    from {
	        width:0px;
	    }
	    to {
	        width:100px;
	    }
	}
	@-moz-keyframes line-animate { /* Firefox */
	    from {
	        width:0px;
	    }
	    to {
	        width:100px;
	    }
	}
	@-webkit-keyframes line-animate { /* Safari and Chrome */
	    from {
	        width:0px;
	    }
	    to {
	        width:100px;
	    }
	}
	@-o-keyframes line-animate { /* Opera */
	    from {
	        width:0px;
	    }
	    to {
	        width:100px;
	    }
	}


@-webkit-keyframes shadow {
  0%       {width:73px; }
  60%      {width:55px; }
  100%     {width:73px;}
}

@-webkit-keyframes bounce {
  0%       {bottom:0px; }
  60%      {bottom:10px; }
  100%     {bottom:0px;}
}

